.index-banner{
    background-image: url(../img/banner.png);
    background-size: cover;
    height: 870px;
}

.text-white{
    color: #ffffff;
}

.banner-content{
    margin-top: 295px;
    h2{
        font-weight: bold;
    }
    a{
        border-radius: 60px;
        width: 70%;
        font-weight: bold;
    }
    p{
        font-size: 1.2rem;
    }
}

.first-products{
    a{
        color: #AC8A46;
    }
    a:hover{
        color: #916000;
        text-decoration: none;
    }
    h3,h4{
        font-weight: bold;
    }
    .training{
        button{
            font-weight: bold;
        }
        
    }
}
.bg-gray{
    background-color: #E0E0E0;
}
.second-products{
    background: #E0E0E0;
    span{
        color: #707070;
    }
    h5{
        font-weight: bold;
    }
}

.bottleRecycling{
    a{
        color: #AC8A46;
        
    }
    a:hover{
        color: #916000;
        text-decoration: none;
    }
    h3{
        font-weight: bold;
    }
}