.logo{
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    display: block;
    width: 128px;
    height: 38px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 9px 0;
}
.displayonPhone{
    position: relative;
    padding-right: 15px;
    .cartNumber{
        position: absolute;
        color: #ffffff;
        background: #916000;
        width: 12px;
        height: 13px;
        font-size: 10px;
        text-align: center;
        border-radius: 7px;
    }
}
.menu{
    a{
        color: #8D8D8D;
        font-size: 16px;
    }
    a:hover{
        text-decoration: none;
        color: #000;
    }
}