.logo{
    background: url(../../img/logo.png) no-repeat center;
    background-size: cover;
    display: block;
    width: 128px;
    height: 38px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 9px 0;
}
.menu{
    a{
        color: #8D8D8D;
        font-size: 16px;
    }
    a:hover{
        text-decoration: none;
        color: #000;
    }
}